h1 {
    text-align: center;
    color: cornflowerblue;
}

#errorDivOne {
    background-color: Azure;
    
}

.footer {
    height: 50px;
    padding-bottom: -50px;
    background-color: cornflowerblue;
}
